table, th, td {
border: 1px solid black;
}
table{
    width: 100%;
}
tr:nth-child(even) {
    background: HoneyDew
}
tr:nth-child(odd) {
    background: AliceBlue 
}
tr > th{
    background: white;
}
td{
    text-align: center;
  }
.red{
    background: LightSalmon;
}
.editMode{
    width: 100%;
}
.editMode>button{
    float:right;
    margin-bottom: 15px;
}